* {
  font-family: "montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-image: url("SAMPUL.png");
  background-size: cover;
  height: auto;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.menu-media img{
  height: 20px;
}

.container {
  margin: 9rem 0rem;
  text-align: center;
}

.container h2 {
  font-size: 20px;;
  font-weight: bold;
}

.container h1 {
  font-size: 120px;
}

.container p {
  font-size: 18px;
}

.container a {
  text-decoration: none;
  color: white;
  background-color:rgb(111, 168, 152);
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 1vw;
  text-transform: uppercase;
  transition: 0.2s;
  font-weight: bold;
  margin-top: 2vw;
}

.container a:hover {
  background-color:rgb(31, 135, 63);
  text-decoration: none;
  color: white;
}
